<div class="row">
    <h1> Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Educacion Primaria</h2> - <h3>2002</h3>
            </li>
            <p>
              Colegio F.A.S.T.A. Ing. José María Paz
            </p>
        </ul>
        <ul>
          <li>
              <h2>Educacion Secuandaria</h2>  - <h3>2007</h3>
          </li>
          <p>
            Colegio F.A.S.T.A. Ing. José María Paz
          </p>
      </ul>
      <ul>
        <li>
            <h2>Educacion Universitaria</h2> - <h3>2020 - Actual</h3>
        </li>
        <p>
          En curso, alumno regular. Universidad Nacional de Salta . Ingenierìa  Industrial.
        </p>
    </ul>
    <ul>
      <li>
          <h2>Educacion Complementaria</h2> 
      </li>
      <p>Curso de Ingles: Basico</p>
      <p>Curso de computación (office completo)</p> 
      <p>Curso completo de autocad 2016</p>
      <p>Argentina Programa - #SeProgramar</p>
      
  </ul>
    </div>

</div>
