.gradient-custom {
/* fallback for old browsers */
background: #222222;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, black, rgb(46, 45, 45));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(70deg, black, rgb(46, 45, 45));

}