<div class="row">
    <h1> Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>NOA Montajes:</h2> - <h3>2008-2009</h3>
            </li>
            <p>
                Técnico en refrigeraciòn: Reparación de equipos de aire acondicionado (industriales y privados)
            </p>
        </ul>
        <ul>
          <li>
              <h2>MyM construcciones</h2> - <h3>2012-2015</h3>
          </li>
          <p>
            Encargado de Obras: refacciones de viviendas particulares 
          </p>
      </ul>
      <ul>
        <li>
            <h2>Vot.ar</h2> - <h3>año de elecciones</h3>
        </li>
        <p>
            Técnico en computadoras de voto electrónico
        </p>
    </ul>
    </div>

</div>

