.row{
    padding: 20px;
    color: #ffffff;
}
div{
    background-color: #222222;
    text-align: center;;
}



/*estilo de la foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil{
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(12, 2, 2);
        

    }
}

@media (max-width: 576px){
    #fotodeperfil{
        position:absolute;
        width: 30%;
        border-radius: 100%;
        left: 33%;
        top: 950px;       

    }

    .descripcion {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}






/*etiqueta nombre */
#nombre{
    font-weight: bold;
    margin-top: 30%;
    
    
    
}