
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/PhotoPerfil1.jpg" class="img-fluid" id="fotodeperfil">
     </div>
    <div class=" col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
      <p>Full Stack Developer Jr</p>
    </div>
    <div class=" col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
        <h1> Acerca de mi</h1>
        <p> Soy una persona dedicada y apasionada a lo que me gusta, siempre doy el maximo en todos los proyectos que me propongo
          
        </p>
      </span>
    </div>
</div>